---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import PostList from '../components/PostList.astro';

const posts = await getCollection('posts');
---
<BaseLayout title="Ben'space">
  <Hero />
  <div class="mx-auto max-w-5xl px-4 pb-16">
    <PostList posts={posts} />
  </div>
</BaseLayout>
